<h1> ID: {{bookinstance._id}}</h1>
  
  <p> <strong> Title:</strong>
    <a routerLink="/book/{{bookinstance.book._id}}"> {{bookinstance.book.title}}
    </a>
  </p>
  <p> <strong> Imprint:</strong> {{bookinstance.imprint}} </p>
  <p> <strong> Status:</strong> {{bookinstance.status}} </p>

<hr>

<p>
  <a (click)="deleteGenre();">Delete book-instance</a>
</p>
<div *ngIf="errors">
  <ul>
    <li *ngFor="let error of errors">
      {{error.msg}}
    </li>
  </ul>
</div>
<p>
  <a routerLink="{{bookinstance.url}}update">Update book-instance</a>
</p>