<h1>{{title}}</h1>

<div>
  <label>First Name:
    <input #firstName type="text"/>
  </label>
  <label>Last Name:
    <input #lastName type="text"/>
  </label>
  <label>Date of birth:
    <input #dateBirth type="date"/>
  </label>
  <label>Date of death:
    <input #dateDeath type="date"/>
  </label>
  <button (click)="add(firstName.value, lastName.value, dateBirth.value, dateDeath.value); firstName.value=''">
    add
  </button>
</div>
<div *ngIf="errors">
  <ul>
    <li *ngFor="let error of errors">
      {{error.msg}}
    </li>
  </ul>
</div>