<h1>{{title}}</h1>

<div>
  <label>First Name:
    <input [(ngModel)]="first_name" type="text"/>
  </label>
  <label>Last Name:
    <input [(ngModel)]="family_name" type="text"/>
  </label>
  <label>Date of birth:
    <input [(ngModel)]="date_of_birth" type="date"/>
  </label>
  <label>Date of death:
    <input [(ngModel)]="date_of_death" type="date"/>
  </label>
  <button (click)="add();">
    add
  </button>
</div>
<div *ngIf="errors">
  <ul>
    <li *ngFor="let error of errors">
      {{error.msg}}
    </li>
  </ul>
</div>