<p>Welcome to LocalLibrary, a very basic Express website developed as a tutorial example on the Mozilla Developer Network.</p>
<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/books">All books</a>
  <a routerLink="/authors">All authors</a>
  <a routerLink="/genres">All genres</a>
  <a routerLink="/bookinstances">All book-instances</a>
  
      <hr>
  
  <a routerLink="/author/create">Create new author</a>
  <a routerLink="/genre/create">Create new genre</a>
  <a routerLink="/book/create">Create new book</a>
  <a routerLink="/bookinstance/create">Create new book instance (copy)</a>
</nav>
<p>
  Start editing to see some magic happen :)
</p>