<h1> Author: {{genre.first_name}} {{genre.family_name}}</h1>

<div style='margin-left:20px;margin-top:20px'>
  <h4> Books: </h4>

  <dl>
    <div *ngIf="books.length !=  0; else elseBlock">
      <div *ngFor="let book of books">
        <dt>
          <a routerLink="/books/{{book._id}}">
            {{book.title}}
          </a>
        </dt>
        <dd>{{book.summary}}</dd>
      </div>
    </div>
    <ng-template #elseBlock>
      <p>This author has no books.</p>
    </ng-template>
  </dl>
</div>

<hr>

<p>
  <a (click)="deleteGenre();">Delete author</a>
</p>
<div *ngIf="errors">
  <ul>
    <li *ngFor="let error of errors">
      {{error.msg}}
    </li>
  </ul>
</div>
<p>
  <a routerLink="{{genre.url}}update">Update author</a>
</p>